<div class="grid-container">
    <h1 class="mat-h1">Tree</h1>
    <mat-grid-list cols="1" rowHeight="150px">
      <mat-grid-tile>
        <mat-card class="card">
          <mat-card-content>
            <p>
                Tree is a Angular Material component that enables to build a customized tree experience for structured data. 
            </p>
            <p>There are two types of Trees in Angular Material, one of those is Flat and the other one is Nested.
              </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>
              <h2 class="mat-h2">Flat Tree</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              The logical parent-child relationship is flattened and nodes are not rendered inside of each other, but instead are rendered as siblings in sequence. Can handle lots of data. </p>
            
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title><h2 class="mat-h2">Nested Tree</h2></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
                In nested tree, children nodes are placed inside their parent node in the DOM. The parent node contains a node outlet into which children are projected. 
            </p>
            
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  